
@inject NavigationManager NavManager
@inject IBookingRepository BookingRepository
@page "/Bookings"
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="d-flex flex-row justify-content-between">
  <h3>Bookings</h3>
  <button class="btn btn-primary" @onclick="@(() => BookingDetailsBtn("New"))">New</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Movie / TvShow</th>
      <th scope="col">Rental Name</th>
      <th scope="col">Rental Link</th>

      <th scope="col">Person Email</th>
      <th scope="col">Person Name</th>
      <th scope="col">Person MobileNumber</th>
      <th scope="col">Person Link</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var booking in BookingList)
    {
      var isMovie = booking.ContentItems.FirstOrDefault().Movie != null;

      <tr>
        <th scope="row">@booking.Id</th>
        <td>@(isMovie ? "Movie" : "TvShow")</td>
        <td>@(isMovie ? booking.ContentItems.FirstOrDefault().Movie.Title : booking.ContentItems.FirstOrDefault().TvShow.Title)</td>
        <td>@(isMovie ? booking.ContentItems.FirstOrDefault().Movie.Id : booking.ContentItems.FirstOrDefault().TvShow.Id)</td>
        <td><button class="btn btn-link" @onclick="@(() => ContentDetailsBtn(booking))">Edit</button></td>
        <td>@booking.Person.Email</td>
        <td>@booking.Person.Name</td>
        <td>@booking.Person.MobileNumber</td>
        <td><button class="btn btn-link" @onclick="@(() => PersonDetailsBtn(booking.Person.Id.ToString()))">Person</button></td>
        <td>
          <button class="btn btn-link" @onclick="@(() => BookingDetailsBtn(booking.Id.ToString()))">Edit</button> |
          <button class="btn btn-link" @onclick="@(() => BookingDeleteBtn(booking.Id))">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@code {
  public List<Booking> BookingList { get; set; } = [];

  protected override void OnInitialized()
  {
    
  }

  public async Task<List<Booking>> GetAllBookings()
  {
    return await BookingRepository.GetAll();
  }

  public void BookingDetailsBtn(string id)
  {
    NavManager.NavigateTo($"Bookings/{id}");
  }

  public async Task BookingDeleteBtn(int id)
  {
    await BookingRepository.Delete(id);
    BookingList = await GetAllBookings();
  }

  public void PersonDetailsBtn(string id)
  {
    NavManager.NavigateTo($"People/{id}");
  }

  public void ContentDetailsBtn(Booking booking)
  {
    var isMovie = booking.ContentItems.FirstOrDefault().Movie != null;
    var id = isMovie ? booking.ContentItems.FirstOrDefault().Movie.Id.ToString() : booking.ContentItems.FirstOrDefault().TvShow.Id.ToString();

    if (isMovie)
    {
      NavManager.NavigateTo($"Movies/{id}");
    }
    else
    {
      NavManager.NavigateTo($"TvShows/{id}");
    }
  }

  public void MovieDetailsBtn(string id)
  {
    NavManager.NavigateTo($"Movies/{id}");
  }

  public void TvShowDetailsBtn(string id)
  {
    NavManager.NavigateTo($"TvShows/{id}");
  }

}
