@inject IBookingRepository BookingRepository
@inject IPersonRepository PersonRepository
@inject IMovieRepository MovieRepository
@inject ITvShowRepository TvShowRepository
@inject NavigationManager NavManager
@page "/Bookings/{id}"
@rendermode @(new InteractiveServerRenderMode(prerender:false))

@if (SelectedBooking == null)
  return;

<h3 class="pb-3">Booking</h3>
<EditForm EditContext="@EditContext">
  <DataAnnotationsValidator />
  <div class="d-flex flex-column gap-3">
    <span>Movie / TvShow</span>
    <InputSelect class="form-control" @bind-Value="@SelectedContentType" placeholder="@(nameof(Movie))">
      @foreach (var type in Enum.GetValues<ContentType>())
      {
        <option value="@type">@type</option>
      }
    </InputSelect>
    @if (SelectedContentType == ContentType.Movie)
    {
      <span>Movie</span>
      <InputSelect class="form-control" @bind-Value="@SelectedContentId" placeholder="@(nameof(Movie))">
        @foreach (var movie in MovieList)
        {
          <option value="@movie.Id">@movie.Title</option>
        }
      </InputSelect>
    }
    else
    {
      <span>Tv Show</span>
      <InputSelect class="form-control" @bind-Value="@SelectedContentId" placeholder="@(nameof(TvShow))">
        @foreach (var tvShow in TvShowList)
        {
          <option value="@tvShow.Id">@tvShow.Title</option>
        }
      </InputSelect>

    }

    <span>Person</span>
    <InputSelect class="form-control" @bind-Value="@SelectedBooking.PersonId" placeholder="@(nameof(ContentItem.Language))">
      @foreach (var person in PeopleList)
      {
        <option value="@person.Id">@person.Name</option>
      }
    </InputSelect>

    <div>
      <button class="btn btn-primary" @onclick="@OnSubmitBtn">Submit</button>
    </div>
  </div>
</EditForm>

@code {
  [Parameter] public string Id { get; set; } = null!;
  public Booking SelectedBooking { get; set; }
  public EditContext EditContext { get; set; }
  public List<Person> PeopleList { get; set; } = [];
  public List<Movie> MovieList { get; set; } = [];
  public List<TvShow> TvShowList { get; set; } = [];
  public bool IsMovie { get; set; } = true;
  public int SelectedContentId { get; set; }
  public ContentType SelectedContentType { get; set; }
  public enum ContentType
  {
    Movie,
    TvShow,
  }

  public bool IsNew { get; set; }

  protected override async Task OnInitializedAsync()
  {
    SelectedBooking = await GetBooking(Id);
    EditContext = new EditContext(SelectedBooking);
    PeopleList = await GetAllPeople();
    MovieList = await GetAllMovies();
    TvShowList = await GetAllTvShows();
  }

  public async Task<Booking> GetBooking(string id)
  {
    if (Id.ToLower() == "new")
    {
      IsNew = true;
      return new Booking();
    }

    int idAsInt;
    if (int.TryParse(id, out idAsInt))
    {
      var booking = await BookingRepository.Get(idAsInt) ?? new Booking();
      IsMovie = booking.ContentItems.FirstOrDefault().Movie != null;
      return booking;
    }
    else
    {
      return new Booking();
      //alert something went wrong
    }
  }

  public async Task<List<Person>> GetAllPeople()
  {
    return await PersonRepository.GetAll();
  }

  public async Task<List<Movie>> GetAllMovies()
  {
    return await MovieRepository.GetAll();
  }

  public async Task<List<TvShow>> GetAllTvShows()
  {
    return await TvShowRepository.GetAll();
  }

  public void OnSubmitBtn()
  {
    if (EditContext.Validate() && EditContext.IsModified())
    {
      NavManager.NavigateTo("/Bookings");
    }

    //TODO Language options
    //Save

  }
}
