
@inject NavigationManager NavManager
@inject IGenreRepository GenreRepository
@page "/Genres"
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="d-flex flex-row justify-content-between">
  <h3>Bookings</h3>
  <button class="btn btn-primary" @onclick="@(() => DetailsBtn("New"))">New</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">@nameof(Genre.Name)</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var person in GenreList)
    {
      <tr>
        <th scope="row">@person.Id</th>
        <td>@person.Name</td>
        <td>
          <button class="btn btn-link" @onclick="@(() => DetailsBtn(person.Id.ToString()))">Edit</button> |
          <button class="btn btn-link" @onclick="@(() => DeleteBtn(person.Id))">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@code {
  public List<Genre> GenreList { get; set; } = [];

  protected override async Task OnInitializedAsync()
  {
    GenreList = await GetAllGenres();
  }

  public async Task<List<Genre>> GetAllGenres()
  {
    return await GenreRepository.GetAll();
  }

  public void DetailsBtn(string id)
  {
    NavManager.NavigateTo($"Genres/{id}");
  }

  public async Task DeleteBtn(int id)
  {
    await GenreRepository.Delete(id);
    GenreList = await GetAllGenres(); 
  }
}
