@inject IGenreRepository GenreRepository
@inject NavigationManager NavManager
@page "/Genres/{id}"
@rendermode @(new InteractiveServerRenderMode(prerender:false))

@if (SelectedGenre == null)
  return;

<h3 class="pb-3">Genre: @SelectedGenre.Name</h3>
<EditForm EditContext="@EditContext">
  <DataAnnotationsValidator />
  <div class="d-flex flex-column gap-3">
    <span>@(nameof(Genre.Name))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedGenre.Name" placeholder="@(nameof(Genre.Name))" />

    <div>
      <button class="btn btn-primary" @onclick="@OnSubmitBtn">Submit</button>
    </div>
  </div>
</EditForm>

@code {
  [Parameter] public string Id { get; set; } = null!;
  public Genre SelectedGenre { get; set; }
  public EditContext EditContext { get; set; }
  public bool IsNew { get; set; }

  protected override async Task OnInitializedAsync()
  {
    SelectedGenre = await GetGenre(Id);
    EditContext = new EditContext(SelectedGenre);
  }

  public async Task<Genre> GetGenre(string id)
  {
    if (Id.ToLower() == "new")
    {
      IsNew = true;
      return new Genre();
    }

    int idAsInt;
    if (int.TryParse(id, out idAsInt))
    {
      return await GenreRepository.Get(idAsInt) ?? new Genre();
    }
    else
    {
      return new Genre();
      //alert something went wrong
    }
  }

  public async Task OnSubmitBtn()
  {
    if (EditContext.Validate() && EditContext.IsModified())
    {
      if (IsNew)
      {
        await GenreRepository.Create(SelectedGenre);
        IsNew = false;
      }
      else
      {
        await GenreRepository.Update(SelectedGenre);
      }
      NavManager.NavigateTo("/Genres");
    }
  }
}
