@inject NavigationManager NavManager
@inject IMovieRepository MovieRepository
@inject IContentItemRepository ContentItemRepository
@inject IGenreRepository GenreRepository
@page "/Movies/{id}"
@page "/Movies/{id}/{action}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (SelectedMovie == null)
  return;

<h3 class="pb-3">Movie: @SelectedMovie.Title</h3>
<EditForm EditContext="@EditContext">
  <DataAnnotationsValidator />
  <div class="d-flex flex-column gap-3">
    <span>@(nameof(Movie.Title))</span>
    <InputText disabled="@IsAddCopy" class="form-control" @bind-Value="SelectedMovie.Title" placeholder="@(nameof(Movie.Title))" />
    <span>@(nameof(Movie.Description))</span>
    <InputText disabled="@IsAddCopy" class="form-control" @bind-Value="SelectedMovie.Description" placeholder="@(nameof(Movie.Description))" />
    <span>@(nameof(Movie.ReleaseDate))</span>
    <InputDate disabled="@IsAddCopy" class="form-control" @bind-Value="SelectedMovie.ReleaseDate" placeholder="@(nameof(Movie.ReleaseDate))" />
    <span>@(nameof(Movie.DurationMinutes))</span>
    <InputNumber disabled="@IsAddCopy" class="form-control" @bind-Value="SelectedMovie.DurationMinutes" placeholder="@(nameof(Movie.DurationMinutes))" />
    
    <span>@(nameof(ContentItem.Language))</span>
    <InputSelect class="form-control" @bind-Value="SelectedLanguage" placeholder="@(nameof(ContentItem.Language))">
      @foreach (var language in Enum.GetValues<Language>())
      {
        <option value="@language">@language</option>
      }
    </InputSelect>
    
    <span>@(nameof(Movie.Genres))</span>
    <div class="d-flex flex-column">
      @foreach (var genre in GenreHelperList)
      {
        <div class="d-flex flex-row gap-2 align-items-center">
          <InputCheckbox disabled="@IsAddCopy"
                         Value="genre.IsSelected"
                         ValueChanged="@(v => genre.IsSelected = v)"
                         ValueExpression="@(() => genre.IsSelected)" />
          <span>@genre.Genre.Name</span>
        </div>
      }
    </div>
    <div>
      <button class="btn btn-primary" @onclick="@OnSubmitBtn">Submit</button>
    </div>
  </div>
</EditForm>

@code {
  [Parameter] public string Id { get; set; } = null!;
  [Parameter] public string? Action { get; set; }
  public bool IsNew { get; set; }
  public bool IsAddCopy { get; set; }

  public Movie? SelectedMovie { get; set; }
  public Language? SelectedLanguage { get; set; } = new();
  public EditContext EditContext { get; set; }
  public List<GenreHelper> GenreHelperList { get; set; } = [];
  public class GenreHelper
  {
    public Genre Genre { get; set; } = null!;
    public bool IsSelected { get; set; }
  }

  public enum Language
  {
    English,
    Spanish,
    French,
    German,
    Italian,
    Portuguese,
    Russian,
    Japanese,
    Chinese,
    Korean
  }

  protected override async Task OnInitializedAsync()
  {
    SelectedMovie = await GetMovie(Id);
    EditContext = new EditContext(SelectedMovie);
    GenreHelperList = await GetAllGenres();

    if (!IsNew && Action != null)
      IsAddCopy = true;
  }

  public async Task<Movie> GetMovie(string id)
  {
    if (Id.ToLower() == "new")
    {
      IsNew = true;
      return new Movie();
    }

    int idAsInt;
    if (int.TryParse(id, out idAsInt))
    {
      return await MovieRepository.Get(idAsInt) ?? new Movie();
    }
    else
    {
      return new Movie();
      //alert something went wrong
    }

  }

  public async Task<List<GenreHelper>> GetAllGenres()
  {
    var genres = await GenreRepository.GetAll() ?? [];
    var genreList = new List<GenreHelper>();
    foreach (var genre in genres)
    {
      genreList.Add(new GenreHelper
      {
        Genre = genre,
        IsSelected = SelectedMovie.Genres.Any(x => x.Id == genre.Id)
      });
    }

    return genreList;
  }

  public async Task OnSubmitBtn()
  {
    if (IsAddCopy)
    {
      await ContentItemRepository.Create(new ContentItem { Language = SelectedLanguage.ToString(), MovieId = SelectedMovie.Id });
      NavManager.NavigateTo("/Movies");
    }

    if (EditContext.Validate() && EditContext.IsModified())
    {
      var selectedGenres = GenreHelperList.Where(x => x.IsSelected).Select(x => x.Genre).ToList();
      SelectedMovie.Genres = selectedGenres;

      if (IsNew)
      {
        SelectedMovie = await MovieRepository.Create(SelectedMovie);
        await ContentItemRepository.Create(new ContentItem { Language = SelectedLanguage.ToString(), MovieId = SelectedMovie.Id });
        IsNew = false;
      }
      else
      {
        await MovieRepository.Update(SelectedMovie);
      }

      NavManager.NavigateTo("/Movies");
    }
  }
}
