@inject NavigationManager NavManager
@page "/Movies/{id}"
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<h3 class="pb-3">Movie: @SelectedPerson.Name</h3>
<EditForm EditContext="@EditContext">
  <DataAnnotationsValidator />
  <div class="d-flex flex-column gap-3">
    <span>@(nameof(Person.Name))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.Name" placeholder="@(nameof(Person.Name))" />

    <span>@(nameof(Person.Age))</span>
    <InputNumber type="number" class="form-control" @bind-Value="SelectedPerson.Age" placeholder="@(nameof(Person.Age))" />

    <span>@(nameof(Person.Email))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.Email" placeholder="@(nameof(Person.Email))" />

    <span>@(nameof(Person.MobileNumber))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.MobileNumber" placeholder="@(nameof(Person.MobileNumber))" />

    <span>@(nameof(Person.City))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.City" placeholder="@(nameof(Person.City))" />

    <span>@(nameof(Person.Street))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.Street" placeholder="@(nameof(Person.Street))" />

    <span>@(nameof(Person.ZipCode))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.ZipCode" placeholder="@(nameof(Person.ZipCode))" />

    <span>@(nameof(Person.Country))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.Country" placeholder="@(nameof(Person.Country))" />

    <div>
      <button class="btn btn-primary" @onclick="@OnSubmitBtn">Submit</button>
    </div>
  </div>
</EditForm>

@code {
  [Parameter] public string Id { get; set; } = null!;
  public Person SelectedPerson { get; set; }
  public EditContext EditContext { get; set; }

  protected override void OnInitialized()
  {
    SelectedPerson = GetPerson(Id);
    EditContext = new EditContext(SelectedPerson);
  }

  public Person GetPerson(string id)
  {
    if (Id.ToLower() == "new")
      return new Person();

    return new Person
    {
      Id = 1,
      Name = "Alice Johnson",
      Age = 28,
      Email = "alice.johnson@example.com",
      MobileNumber = "+45 12 34 56 78",
      City = "Aarhus",
      Street = "Vestergade 12",
      ZipCode = "8000",
      Country = "Denmark"
    };
  }

  public void OnSubmitBtn()
  {
    if (EditContext.Validate() && EditContext.IsModified())
    {
      NavManager.NavigateTo("/Movies");
    }
  }

  public class Person()
  {
    public int Id { get; set; }
    public string? Name { get; set; }
    public int Age { get; set; }
    public string? Email { get; set; }
    public string? MobileNumber { get; set; }
    public string? City { get; set; }
    public string? Street { get; set; }
    public string? ZipCode { get; set; }
    public string? Country { get; set; }
  }
}
