@inject IPersonRepository PersonRepository

@inject NavigationManager NavManager
@page "/People"
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="d-flex flex-row justify-content-between">
  <h3>People</h3>
  <button class="btn btn-primary" @onclick="@(() => DetailsBtn("New"))">New</button>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">@nameof(Person.Name)</th>
    <th scope="col">@nameof(Person.Age)</th>
    <th scope="col">@nameof(Person.Email)</th>
    <th scope="col">@nameof(Person.MobileNumber)</th>
    <th scope="col">@nameof(Person.Address.City)</th>
    <th scope="col">@nameof(Person.Address.ZipCode)</th>
    <th scope="col">@nameof(Person.Address.Country)</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
      @foreach (var person in PeopleList)
      {
        <tr>
          <th scope="row">@person.Id</th>
          <td>@person.Name</td>
          <td>@person.Age</td>
          <td>@person.Email</td>
          <td>@person.MobileNumber</td>
          <td>@person.Address.City</td>
          <td>@person.Address.ZipCode</td>
          <td>@person.Address.Country</td>
          <td>
            <button class="btn btn-link" @onclick="@(() => DetailsBtn(person.Id.ToString()))">Edit</button>
            <button class="btn btn-link" @onclick="@(() => DeleteBtn(person.Id))">Delete</button>
          </td>
        </tr>
      }
  </tbody>
</table>

@code {
  public List<Person> PeopleList { get; set; } = [];

  protected override async Task OnInitializedAsync()
  {
    PeopleList = await GetAllPeople();
  }

  public async Task<List<Person>> GetAllPeople()
  {
    return await PersonRepository.GetAll();
  }

  public void DetailsBtn(string id)
  {
    NavManager.NavigateTo($"People/{id}");
  }

  public async Task DeleteBtn(int id)
  {
    await PersonRepository.Delete(id);
    PeopleList = await GetAllPeople();
  }
}
