@inject IPersonRepository PersonRepository
@inject NavigationManager NavManager
@page "/People/{id}"
@rendermode @(new InteractiveServerRenderMode(prerender:false))

@if (SelectedPerson == null)
  return;
<div class="d-flex flex-row justify-content-between">
  <h3 class="pb-3">@(SelectedPerson.Name != "" ? $"Person:{SelectedPerson.Name}" : "Person")</h3>
  <div>
    <button class="btn btn-outline-secondary" @onclick="@OnBackBtn">Go Back</button>
  </div>
</div>  

<EditForm EditContext="@EditContext">
  <DataAnnotationsValidator />
  <div class="d-flex flex-column gap-3">
    <span>@(nameof(Person.Name))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.Name" placeholder="@(nameof(Person.Name))" />

    <span>@(nameof(Person.Age))</span>
    <InputNumber type="number" class="form-control" @bind-Value="SelectedPerson.Age" placeholder="@(nameof(Person.Age))" />

    <span>@(nameof(Person.Email))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.Email" placeholder="@(nameof(Person.Email))" />

    <span>@(nameof(Person.MobileNumber))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.MobileNumber" placeholder="@(nameof(Person.MobileNumber))" />

    <span>@(nameof(Person.Address.City))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.Address.City" placeholder="@(nameof(Person.Address.City))" />

    <span>@(nameof(Person.Address.ZipCode))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.Address.ZipCode" placeholder="@(nameof(Person.Address.ZipCode))" />

    <span>@(nameof(Person.Address.Country))</span>
    <InputText type="text" class="form-control" @bind-Value="SelectedPerson.Address.Country" placeholder="@(nameof(Person.Address.Country))" />

    <div>
      <button class="btn btn-primary" @onclick="@OnSubmitBtn">Submit</button>
    </div>
  </div>
</EditForm>

@code {
  [Parameter] public string Id { get; set; } = null!;
  public Person SelectedPerson { get; set; } = null!;
  public EditContext EditContext { get; set; }
  public bool IsNew { get; set; }

  protected override async Task OnInitializedAsync()
  {
    SelectedPerson = await GetPerson(Id);
    EditContext = new EditContext(SelectedPerson);
  }

  public async Task<Person> GetPerson(string id)
  {
    if (Id.ToLower() == "new")
    {
      IsNew = true;
      return new Person();
    }
    else
    {
      int idAsInt;
      if (int.TryParse(id, out idAsInt))
      {
          var x = await PersonRepository.Get(idAsInt) ?? new Person();
          return x;
      }
      else
      {
        return new Person();
        //alert something went wrong
      }
    }
  }

  public async Task OnSubmitBtn()
  {
    if (EditContext.Validate() && EditContext.IsModified())
    {
      if (IsNew)
      {
        await PersonRepository.Create(SelectedPerson);
        IsNew = false;
      }
      else
      {
        await PersonRepository.Update(SelectedPerson);
      }

      NavManager.NavigateTo("/People");
    }
  }

  public void OnBackBtn()
  {
    NavManager.NavigateTo("/People");
  }
}
