@inject NavigationManager NavManager
@inject ITvShowRepository TvShowRepository
@inject IContentItemRepository ContentItemRepository

@page "/TvShows"
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="d-flex flex-row justify-content-between">
  <h3>Tv Shows</h3>
  <button class="btn btn-primary" @onclick="@(() => DetailsBtn("New"))">New</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Copys</th>
      <th scope="col">@nameof(TvShow.Title)</th>
      <th scope="col">@nameof(TvShow.EpisodeCount)</th>
      <th scope="col">@nameof(TvShow.SeasonNumber)</th>
      <th scope="col">@nameof(TvShow.Description)</th>
      <th scope="col">@nameof(TvShow.ReleaseDate)</th>
      <th scope="col">@nameof(TvShow.DurationMinutes)</th>
      <th scope="col">@nameof(ContentItem.Language)</th>
      <th scope="col">@nameof(TvShow.Genres)</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var tvShow in TvShowList)
    {
      <tr>
        <th scope="row">@tvShow.Id</th>
        <td>@tvShow.ContentItems.Count</td>
        <td>@tvShow.Title</td>
        <td>@tvShow.EpisodeCount</td>
        <td>@tvShow.SeasonNumber</td>
        <td>@tvShow.Description</td>
        <td>@tvShow.ReleaseDate</td>
        <td>@tvShow.DurationMinutes</td>
        <td>@string.Join(", ", tvShow.ContentItems!.Select(x => x.Language).Distinct() ?? [])</td>
        <td>@string.Join(", ", tvShow.Genres.Select(g => g.Name) ?? [])</td>
        <td>
          <button class="btn btn-link" @onclick="@(() => DetailsBtn(tvShow.Id.ToString()))">Edit</button> |
          <button class="btn btn-link" @onclick="@(() => AddCopyBtn(tvShow.Id.ToString()))">Add Copy</button> |
          <button class="btn btn-link" @onclick="@(() => DeleteBtn(tvShow.Id))">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@code {
  public List<TvShow> TvShowList { get; set; } = [];

  protected override async Task OnInitializedAsync()
  {
    TvShowList = await GetAllTvShows();
  }

  public async Task<List<TvShow>> GetAllTvShows()
  {
    return await TvShowRepository.GetAll();
  }

  public void DetailsBtn(string id)
  {
    NavManager.NavigateTo($"TvShows/{id}");
  }

  public void AddCopyBtn(string id)
  {
    NavManager.NavigateTo($"TvShows/{id}/AddCopy");
  }

  public async Task DeleteBtn(int id)
  {
    await TvShowRepository.Delete(id);
    TvShowList = await GetAllTvShows();
  }
}

